body {
  background: #eee;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

div.clear {
  clear: both;
}

.grid-x3 > :not([class="clear"]) {
  width: 30%;
  padding: 10px 0.66% 10px 1.2%;
  float: left;
}

@media (max-width: 1024px) {

  .grid-x3 > :not([class="clear"]) {
    width: 48%;
  }
}

@media (max-width: 768px) {

  .grid-x3 > :not([class="clear"]) {
    width: 98%;
  }
}

.grid-x2 > :not([class="clear"]) {
  width: 48%;
  padding: 10px 0.66% 10px 1.2%;
  float: left;
}

@media (max-width: 768px) {

  .grid-x2 > :not([class="clear"]) {
    width: 98%;
  }
}

/*header ul {
  list-style-type: none;
  text-align: right;
}

header ul li {
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 5px;
}

header a {
  color: #ea4949;
  position: relative;
  text-decoration: none;
}

@media (min-width: 1024px) {
  header ul li {
    display: inline-block;
  }

  header a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #ea4949;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  header a:hover:after, header a:focus:after, header a:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }
}*/

section {
  display: table;
  min-height: 60vh;
  padding: 7vh 5%;
  text-align: center;
  width: 90%;
}

section div.content {
  display: table-cell;
  vertical-align: middle;
}

section h1 {
  color: #ea4949;
  text-transform: uppercase;
}

section .icon {
  font-size: 8em;
  line-height: 1;
  text-align: center;
  color: #eee;
}

@media (max-width: 768px) {

  section .icon {
    line-height: 1.4;
  }
}

footer {
  text-align: center;
  font-size: 0.9em;
  background: #555;
  color: #eee;
  padding: 10px;
}

#intro {
  background-color: #FFEEE4;
  background-image: url(../img/brain-geometry.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 86vh;
}

#intro h1 {
  text-transform: capitalize;
}

#pre-header {
  position: relative;
  left: -75px;
}

#pre-header img {
  width: 60px;
}

#intro h1 a {
  color: inherit;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

#intro p {
  max-width: 500px;
  margin: auto;
  color: #4F86C6;
  font-weight: 500;
}

#mission ul {
  list-style-type: none;
  padding: 0;
}

#mission ul li {
  display: block;
  transition: 0.5s;
}

#mission ul li:hover {
  color: #4F86C6;
}

#mission ul li i {
  font-size: 2em;
  line-height: 1.6;
}

#contribute {
  background: #4F86C6;
}

#volunteer {
  background: #519D9E;
}

#volunteer p {
  color: #eee;
}

/* TODO make this better */
#how-to-contribute a, #volunteer a, #join a {
  display: inline-block;
  padding: 15px 2.5%;
  margin: 20px 1%;
  border: 2px solid #eee;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

#join p, #volunteer p {
  text-align: left;
  max-width: 420px;
  margin: auto;
}

#how-to-contribute a, #volunteer a {
  color: #eee;
}

#join a {
  border-color: #03C4EB;
}

#join .icon {
  color: #03C4EB;
}

#how-to-contribute a:hover, #how-to-contribute a:focus, #how-to-contribute a:active,
#volunteer a:hover, #volunteer a:focus, #volunteer a:active,
#join a:hover, #join a:focus, #join a:active {
  background: #eee;
}

#how-to-contribute a:hover, #how-to-contribute a:focus, #how-to-contribute a:active {
  color: #4F86C6;
}

#volunteer a:hover, #volunteer a:focus, #volunteer a:active {
  color: #519D9E;
}

#join a:hover, #join a:focus, #join a:active {
  color: #eee;
  background: #03C4EB;
}

#team .member img {
  width: 40px;
  display: inline;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 10px;
}

#core-team .member {
  text-align: left;
}
